/// PARTIAL IMPORTS
@import 'googleRoboto';
@import 'baseFunctions';
@import 'baseMixins';
/// END PARTIAL IMPORTS

/// SCSS VARIABLES (THEMING)
$primary-font: 'Roboto', sans-serif;
$primary-theme-color: dimgray;
$secondary-theme-color: dodgerblue;
$main-backg: lighten($primary-theme-color, 20%);
$main-h1-color: $secondary-theme-color;
$main-h2-color: #333;
$main-h2-backg: lighten($primary-theme-color, 35%);
/// END SCSS VARIABLES


@include scrollbars(1em, $primary-theme-color);

html, body {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    width: 100%;
}
.header {
    padding: 15px;
    img {
        display: inline-block;
    }
    h1 {
        display: inline-block;
    }
}
.main {
    background-color: $main-backg;
    padding: 40px 0;
    h1 {
        color: $main-h1-color;
        font-size: 64px;
        margin: 0 0 80px 0;
        padding: 20px 0;
        line-height: 60px;
        width: 50%;
    }
    h2 {
        background-color: $main-h2-backg;
        color: $main-h2-color;
        font-size: 20px;
        margin: 0 0 40px 0;
        padding: 20px 0;
    }
}
.thumbnail {
    border: 0px;
    position: relative;
    padding: 50px;
    border-radius: 0;
    margin-bottom: 50px;
    img {
        margin-top: 10px;
        margin-bottom: 30px;
        max-width: 100%;
    }
}
.title,
.date {
    color: #444;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}
.date {
    color: #a3a3a3 ;
    font-size: 14px;
    font-weight: 200;
}
.price {
    // background-color: #39D1B4;
    background-color: lighten($secondary-theme-color, 80%);
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: -40px;
    right: 20px;
}
.rating {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
    margin: 30px 0 -30px 20px;
}
.likes,
.dislikes {
    background: #F65A5B ;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 -30px 0 40px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background 500ms;
}
.likes:hover,
.dislikes:hover {
    color: #F65A5B ;
    background: rgba(246, 90, 91, 0.25);
    transition: background 500ms;
}
.footer {
    text-align: center;
    margin: 80px 0 110px;
    h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    img {
        margin: 0 10px;
    }
}
.circle-container {
    @include on-circle($item-count: 8, $circle-size: 20em, $item-size: 6em); 
    margin: 5em auto 0;
    border: solid 5px tomato;

    img {
        display: block; 
        max-width: 100%; 
        border-radius: 50%;
        filter: grayscale(100%);
        border: solid 5px tomato;
        transition: 1s;

        &:hover,
        &:active {
            filter: grayscale(0);
        }
    }
}
.test-gradient {
    height: 20px;
    @include stripes(to right, #8e44ad #2c3e50 #2980b9 #16a085 #27ae60);
}
.image-circle-description {
    text-align: center;
    padding: auto;
    padding-top: 1em;
    background: ghostwhite;
    
}