$ob-size-ht: 200px;
$ob-size-wd: 200px;
$theme-color: dodgerblue;
$bor-rad: 20px;

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function lighten($color, $percentage) {
  @return mix($color, white, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function darken($color, $percentage) {
  @return mix($color, black, $percentage);
}

/// Establish browser-compliant border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.object {
	height: $ob-size-ht;
	width: $ob-size-wd;
	background: $theme-color;
	border: 5px solid darken($theme-color, 50%);
	@include border-radius($bor-rad);

	.inner-object {
		height: $ob-size-ht * 0.5;
		width: $ob-size-wd * 0.5;
		background: lighten($theme-color, 25%);
		border: 2px solid darken(lighten($theme-color, 25%), 50%);
		margin: 25% auto;
		@include border-radius($bor-rad);
	}
}