<!doctype html>
<html>
	<head>

		<!-- Base Bootstrap Stylesheet (v3.3.4) -->
	    <link href="css/bootstrap.min.css" rel="stylesheet" />

		<!-- SASS/SCSS Main Stylesheet Compiled -->
	    <link href="css/main.css" rel="stylesheet" />

		<!-- Base Angular Script -->
    	<script src="js/shared/angular.min.js"></script>
  	</head>
  	<body ng-app="myApp">
    	<div class="header">
	      	<div class="container">
	        	<h1>Book End</h1>
	      	</div>
    	</div>

    	<div class="main" ng-controller="MainController">
      		<div class="container">

        		<h1>{{ title }}</h1>
        		<h2>&nbsp;{{ promo }}</h2>

        		<div ng-repeat="product in products" class="col-md-6">
          			<div class="thumbnail">
            			<img ng-src="{{ product.cover }}">
            			<p class="title">{{ product.name }}</p>
            			<p class="price">{{ product.price | currency }}</p>
            			<p class="date">{{ product.pubdate | date }}</p>
            			<div class="rating">
              				<p class="likes" ng-click="plusOne($index)">+ {{ product.likes }}</p>
              				<p class="likes" ng-mouseover="count = count + 1" ng-init="count=0">{{ count }}</p>
              				<p class="dislikes" ng-click="minusOne($index)">- {{ product.dislikes }}</p>
            			</div>
          			</div>
        		</div>
      		</div>
			<ul class='circle-container'>
				<!-- <li ng-repeat="preview in previews">
					<img ng-src='{{ preview.thumb }}' alt="{{ preview.name }}" ng-mouseover="desc = 'Butts'"/>
				</li> -->
				<li ng-mouseover="desc = 'City'" ng-init="desc=''"><img src='http://lorempixel.com/100/100/city' alt="..." /></li>
				<li ng-mouseover="desc = 'Nature?'" ng-init="desc=''"><img src='http://lorempixel.com/100/100/nature' alt="..." /></li>
				<li ng-mouseover="desc = 'I don\'t know, but it\'s called \'Abstract\'...'" ng-init="desc=''"><img src='http://lorempixel.com/100/100/abstract' alt="..." /></li>
				<li ng-mouseover="desc = 'Cats and shit'" ng-init="desc=''"><img src='http://lorempixel.com/100/100/cats' alt="..." /></li>
				<li ng-mouseover="desc = 'Food'" ng-init="desc=''"><img src='http://lorempixel.com/100/100/food' alt="..." /></li>
				<li ng-mouseover="desc = 'Random animals'" ng-init="desc=''"><img src='http://lorempixel.com/100/100/animals' alt="..." /></li>
				<li ng-mouseover="desc = 'Ha! Business...'" ng-init="desc=''"><img src='http://lorempixel.com/100/100/business' alt="..." /></li>
				<li ng-mouseover="desc = 'People doing stuff for things'" ng-init="desc=''"><img src='http://lorempixel.com/100/100/people' alt="..." /></li>
				<li class="image-circle-description">{{ desc }}</li>
			</ul>
    	</div>



		<div class="test-gradient"></div>

    	<div class="footer">
      		<div class="container">
        		<h2>Available for iPhone and Android.</h2>
    			<img src="img/app-store.png" width="120" />
    			<img src="img/google-play.png" width="110" />
      		</div>
    	</div>

    	<!-- Modules -->
    	<script src="js/app.js"></script>

    	<!-- Controllers -->
    	<script src="js/controllers/MainController.js"></script>
  	</body>
</html>